# orbital model to use, can be "SGP4" or "Kepler"
model = "SGP4"

# bounding box of coverage area in lat-long (bottom left) lat-long (top right)
# http://bboxfinder.com/
bbox = [-85.000000, -180.000000, 85.000000, 180.000000]

interval = 1

# whether to animate the constellation
# for debug purposes
animation = false

# endpoints of machines running firecracker and
# our api
hosts = ["172.17.0.1:1969"]
# hosts = ["35.246.247.15:1969", "34.107.74.168:1969"]
# peer addresses of our hosts so they can talk
# to each other
peeringhosts = ["172.17.0.1:1970"]
# peeringhosts = ["192.168.0.20:1970", "192.168.0.30:1970"]

# whether to enable database for machines
database = true
# dbhost if database is enabled
dbhost = "172.17.0.1:8000"

[networkparams]
# ISL propagation factor
# latency of ISLs in ms/m
# with lasers in a vacuum this should be about 1/c
islpropagation = 3.336e-6

# bandwidth for ISLs in Mbit/s
bandwidth = 10_000

# minimum altitude for ISLs to work properly in m
# for example, if a link goes below 100km at
# its lowest point, light might be fractured
# by the atmosphere
#mincommsaltitude = 100_000
mincommsaltitude = 0

# minimum elevation of satellites in order for a ground station
# to connect, in degrees (0<= minelevation <= 90)
# if there is no satellite within this distance from
# a ground station, the ground station is cut off from
# the satellite network
#minelevation = 40
minelevation = 0

# gstpropagation describes the delay of the uplink, in ms/m
# this is probably higher than in a vacuum, maybe 1/(2c)?
gstpropagation = 3.336e-6

# ground station connection type
# how many satellites can a ground station connect to?
# "all": all satellites that are in reach
# "one": one satellite per shell
# "shortest": only one satellite at all
groundstationconnectiontype = "all"

# if SGP4 is used, can define additional SGP4 parameters
# most SGP4 params are calculated from the orbit parameters
# can be overridden for individual shells
# check the Python-SGP4 documentation for details: https://pypi.org/project/sgp4/
# you can find reference data in the TLE database: http://www.celestrak.com/NORAD/elements/
[sgp4params]
# point in time for the simulation to start
# this is used to calculate the 'epoch' parameter (for convenience)
# should be RFC 3339 (https://tools.ietf.org/html/rfc3339)
starttime = 2021-01-01T12:00:00+00:00

# gravity model to use
# can be "WGS72" (recommended), "WGS72OLD", "WGS84"
model = "WGS72"
# opsmode, can be "i" (recommended) or "a" for old AFSPC mode
mode = "i"
# drag coefficient of satellite
# for reference:
# STARLINK-2046 -0.7438e-3
# ONEWEB-145 -0.71194
# use 0 if unsure
bstar = -0.7438e-3
# ballistic coefficient of satellite
# for reference:
# STARLINK-2046 -0.68197e-3
# ONEWEB-145 -0.1102422e-1
# use 0 if unsure, it doesn't really make a difference
ndot = -0.68197e-3
# argument of perigee
# basically the angle to the equatorial plane
# doesn't really matter for circular orbits
argpo = 30.0

# define server attributes for satellite servers
# these directly correspond to the Firecracker Machine Configuration Options
# can be overridden for individual shells
[computeparams]
# how many vCPUs to allocate to each server
vcpu_count = 1
# how much memory to allocate to each server
mem_size_mib = 128
# enable Hyperthreading (default is off)
ht_enabled = false
# name of the kernel file (must be in the "/celestial" folder
# of the hosts)
kernel = "vmlinux-5.10.bin"
# name of the rootfs (must be in the "/celestial" folder of
# the hosts)
rootfs = "rootfs-sat.ext4"

bootparams = ""

[[shell]]
planes = 1
sats = 12
altitude = 550
inclination = 53.0
arcofascendingnodes = 360.0
eccentricity = 0.0

# a ground station is a gateway on earth
# it's not checked but you likely want this
# to be inside your bbox
[[groundstation]]
name = "Berlin"
lat = 52.51492067
long = 13.32666938

# each ground station needs compute params
[groundstation.computeparams]
# how many vCPUs to allocate to ground station server
vcpu_count = 1
# how much memory to allocate to ground station server
mem_size_mib = 1024
# enable Hyperthreading (default is off)
ht_enabled = true
kernel = "vmlinux-5.10.bin"
rootfs = "rootfs-gst.ext4"

# ground station also needs network params
[groundstation.networkparams]
# gstpropagation describes the delay of the uplink, in ms/m
# this is probably higher than in a vacuum, maybe 1/(2c)?
gstpropagation = 6.672e-6
# bandwidth from ground terminal to satellite in Mbit/s
# let's go with 1Gbit/s
bandwidth = 1_000
