#!/bin/bash

docker network rm fredwork

docker-compose \
  -f common/docker/etcd.yml \
  {%- for name in node_names %}
  -f temp/{{name}}.yml \
  {%- endfor %}
  down

docker stop stardust
docker rm stardust
docker stop leo-cdn-simulation
docker rm leo-cdn-simulation

rm -rf ./temp
