#!/bin/bash

docker network rm fredwork

docker-compose \
  -f common/docker/etcd.yml \
  {%- for name in node_names %}
  -f temp/{{name}}.yml \
  {%- endfor %}
  down

docker-compose \
  -f common/docker/etcd.yml \
  {%- for name in stardust_names %}
  -f temp/{{name}}.yml \
  {%- endfor %}
  down

docker stop coordinator
docker rm coordinator

rm -rf ./temp
