#!/bin/bash

docker network create fredwork --gateway 172.26.0.1 --subnet 172.26.0.0/16

docker-compose \
  -f common/docker/etcd.yml \
  -f temp/satellite0.yml \
  build

docker-compose --env-file .env \
  -f common/docker/etcd.yml \
  -f temp/satellite0.yml \
  up --force-recreate --abort-on-container-exit --renew-anon-volumes --remove-orphans
