# Starting toml config for {{ stardust_name }}

title = "{{ stardust_name }} Config"

stardust_name= "{{ stardust_name }}"
stardust_IP = "{{ stardust_IP }}"
requests_per_stardust = {{ requests_per_stardust }}